@model Trafego1.Models.Trafego

@{
    ViewData["Title"] = "Create";
}

<h2>@ViewData["Title"]</h2>

<form asp-controller="Trafego" asp-action="Create" method="post">
    
    <div class="form-group">
        <label asp-for="Rotas" class="control-label"></label>
        <input asp-for="Rotas" class="form-control" />
        <span asp-validation-for="Rotas" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="OtimizacaoRotas" class="control-label"></label>
        <input asp-for="OtimizacaoRotas" class="form-control" />
        <span asp-validation-for="OtimizacaoRotas" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="AnaliseVias" class="control-label"></label>
        <input asp-for="AnaliseVias" class="form-control" />
        <span asp-validation-for="AnaliseVias" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="AnaliseCongestionamento" class="control-label"></label>
        <input asp-for="AnaliseCongestionamento" class="form-control" />
        <span asp-validation-for="AnaliseCongestionamento" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CondicoesClimaticas" class="control-label"></label>
        <input asp-for="CondicoesClimaticas" class="form-control" />
        <span asp-validation-for="CondicoesClimaticas" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}